In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("BIKE DETAILS.csv")
df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

In [5]:
df.shape

(1061, 7)

In [7]:
df.isnull().sum()

name                   0
selling_price          0
year                   0
seller_type            0
owner                  0
km_driven              0
ex_showroom_price    435
dtype: int64

In [9]:
df=df.fillna(df['ex_showroom_price'].mean())
df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,87958.714058
1,Honda Dio,45000,2017,Individual,1st owner,5650,87958.714058
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.000000
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.000000
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,87958.714058
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.000000
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.000000
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.000000
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.000000
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.000000

In [11]:
df.head(10)

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,87958.714058
1,Honda Dio,45000,2017,Individual,1st owner,5650,87958.714058
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.000000
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.000000
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,87958.714058
5,Honda CB Twister,18000,2010,Individual,1st owner,60000,53857.000000
6,Honda CB Hornet 160R,78500,2018,Individual,1st owner,17000,87719.000000
7,Royal Enfield Bullet 350 [2007-2011],180000,2008,Individual,2nd owner,39000,87958.714058
8,Hero Honda CBZ extreme,30000,2010,Individual,1st owner,32000,87958.714058
9,Bajaj Discover 125,50000,2016,Individual,1st owner,42000,60122.000000

In [13]:
df['name'].unique()

array(['Royal Enfield Classic 350', 'Honda Dio',
       'Royal Enfield Classic Gunmetal Grey',
       'Yamaha Fazer FI V 2.0 [2016-2018]', 'Yamaha SZ [2013-2014]',
       'Honda CB Twister', 'Honda CB Hornet 160R',
       'Royal Enfield Bullet 350 [2007-2011]', 'Hero Honda CBZ extreme',
       'Bajaj Discover 125', 'Yamaha FZ16', 'Honda Navi',
       'Bajaj Avenger Street 220', 'Yamaha YZF R3', 'Jawa 42',
       'Suzuki Access 125 [2007-2016]', 'Hero Honda Glamour',
       'Yamaha YZF R15 S', 'Yamaha FZ25', 'Hero Passion Pro 110',
       'Honda Navi [2016-2017]', 'Honda Activa i', 'Jawa Standard',
       'Royal Enfield Thunderbird 350', 'Honda Dream Yuga',
       'TVS Apache RTR 160 4V', 'Yamaha Fazer [2009-2016]',
       'Hero Honda Splendor NXG', 'Hero Glamour 125',
       'Yamaha FZ S [2012-2016]', 'Hero Xtreme Sports', 'Honda X-Blade',
       'Honda CB Shine SP', 'Honda Activa 5G', 'Honda CBR-250R',
       'Hero Honda Passion PRO [2012]', 'Bajaj Dominar 400',
       'Hero Glamour FI', 'KTM 390 Duke', 'Hero Passion XPro',
       'Yamaha FZ S V 2.0', 'Hero Achiever 150', 'Yamaha Saluto',
       'Bajaj Discover 100', 'Honda CB Trigger',
       'Royal Enfield Electra 5 S', 'Hero Splendor PRO',
       'Hero Honda Passion Plus', 'Bajaj Pulsar 150',
       'Royal Enfield Bullet 350', 'Bajaj Pulsar 150 [2001-2011]',
       'Honda Activa 3G', 'Hero Hunk', "Suzuki Let''s",
       'Royal Enfield Electra 4 S', 'TVS Scooty Pep Plus',
       'Mahindra Mojo XT300', 'TVS Apache RTR 160', 'Bajaj Pulsar AS200',
       'Royal Enfield Thunderbird 350X', 'Suzuki Intruder 150',
       'Hero Honda Karizma ZMR [2010]', 'Bajaj Xcd', 'Hero Splendor Plus',
       'Honda CB Unicorn 150', 'Hero Honda CD Deluxe',
       'Honda Activa i [2016-2017]', 'TVS Scooty Zest 110',
       'Hero CD Deluxe', 'Honda Activa [2000-2015]',
       'Honda Activa 125 [2016-2017]', 'Suzuki GS150R',
       'Bajaj Pulsar 220S', 'Honda Activa 4G', 'Bajaj Pulsar NS160',
       'Royal Enfield Classic Desert Storm', 'Suzuki Gixxer SF',
       'TVS Apache RTR 200 4V', 'Bajaj V15', 'TVS XL 100 Heavy Duty',
       'Hero HF Deluxe', 'Aprilia SR 125', 'Bajaj Discover 125 ST',
       'Honda Aviator', 'Vespa SXL 149', 'Hero Xtreme [2013-2014]',
       'UM Renegade Commando', 'Honda Shine',
       'Bajaj Avenger Street 150 [2018]',
       'Royal Enfield Continental GT 650', 'Bajaj Pulsar 180',
       'Harley-Davidson Street Bob', 'KTM 390 Duke ABS [2013-2016]',
       'KTM 200 Duke', 'Hero Karizma 2014', 'Royal Enfield Classic 500',
       'KTM RC 390', 'Suzuki Gixxer [2014-2018]', 'Suzuki Access 125',
       'Yamaha Saluto RX', 'KTM RC 200', 'Bajaj CT 100',
       'Hero Honda Pleasure', 'Bajaj Pulsar 135 LS', 'Yamaha SZ RR V 2.0',
       'Bajaj Discover 150', 'TVS Flame', 'Vespa VX 125', 'Yamaha SZ X',
       'Honda CBF Stunner', 'Bajaj Discover 100 T',
       'Honda CB Unicorn 160', 'Yamaha YZF R15 [2011-2018]', 'TVS Sport',
       'Bajaj Boxer', 'Hero Honda Hunk', 'Bajaj Avenger Cruise 220',
       'Yamaha Ray Z', 'Bajaj Discover 150F', 'Bajaj Platina 100',
       'Royal Enfield Bullet 500', 'Bajaj Pulsar 220 Fi',
       'Bajaj Dominar 400 [2018]', 'Hero Passion X Pro [2016-2017]',
       'Bajaj Avenger [2015]', 'Hero Splendor iSmart',
       'Hero Honda Passion', 'Bajaj Discover 150S',
       'Yamaha Cygnus Ray ZR', 'Bajaj CT 110', 'Hero Passion PRO i3s',
       'Bajaj Pulsar 220F', 'Hero Maestro Edge', 'TVS Centra',
       'Hero Super Splendor', 'Yamaha FZ V 2.0',
       'Hero Honda Splendor Plus', 'Hero HF Deluxe i3s',
       'Royal Enfield Interceptor 650', 'Bajaj Kristal',
       'Hero Xpulse 200', 'Bajaj Discover 135', 'Royal Enfield Machismo',
       'Hero Maestro', 'Honda Activa 125', 'KTM 250 Duke',
       'Kawasaki Ninja 650 [2018-2019]', 'Kawasaki Ninja 250R',
       'TVS Wego', 'Bajaj Pulsar NS200', 'Suzuki GSX S750',
       'TVS Scooty Streak', 'Yamaha Rx', 'Bajaj Pulsar 125',
       'Yamaha Fazer Dlx', 'Harley-Davidson Street 750',
       'Hero Xtreme 2014', 'TVS Apache RR310', 'Hero Honda Splendor PRO',
       'Yamaha Fascino 110', 'TVS Star City Plus', 'Yamaha YZF R15 V3',
       'TVS Radeon', 'BMW G310GS', 'Royal Enfield Thunderbird 500',
       'Bajaj Pulsar AS150', 'Hero Pleasure', 'Hero Ignitor',
       'Hero Honda CD100SS', 'Vespa LX 125', 'Hero Splendor Plus i3s',
       'Royal Enfield Himalayan', 'TVS Victor', 'Bajaj Discover 100 M',
       'Hero Duet', 'Royal Enfield Classic Stealth Black',
       'Honda CB Unicorn Dazzler', 'Yamaha YBR 125',
       'Suzuki Intruder 150 Fi', 'Hero Passion PRO TR',
       'Hero Karizma [2003-2014]', 'Royal Enfield Classic Squadron Blue',
       'Hero Karizma ZMR', 'Royal Enfield Classic Chrome',
       'Hero Honda Splendor', 'Mahindra Rodeo', 'KTM 125 Duke',
       'Hero Xtreme 200R', 'Royal Enfield Classic Signals',
       'Honda CB Unicorn', 'Mahindra Flyte', 'Bajaj Super',
       'Hero Honda CD100', 'TVS Spectra', 'Hero Xpulse 200T',
       'Honda Dream Neo', 'Bajaj Avenger Street 160', 'Yamaha Fazer 25',
       'TVS Excel', 'TVS Streak', 'Yamaha RX135', 'Honda CBR150 R',
       'Bajaj Pulsar 180F', 'Bajaj Pulsar 220 DTS-i',
       'Hero Honda Achiever', 'Hero Honda Karizma',
       'Suzuki Swish [2012-2015]', 'TVS Star City', 'TVS Scooty Pep DLX',
       'Hero Honda Street Smart', 'Hero Honda Super Splendor [2005]',
       'Suzuki Gixxer SF Fi', 'Hero CBZ', 'TVS Jupiter', 'Honda Livo',
       'Bajaj Pulsar RS 200', 'Hero Honda CBZ', 'Hero Splendor NXG',
       'Yamaha RXG', 'Yamaha Alpha', 'Mahindra Gusto',
       'Bajaj Discover 110', 'TVS Victor GLX', 'Yamaha SZ-S',
       'Bajaj Discover 125 M', 'Honda Grazia',
       'Royal Enfield Electra Twinspark', 'TVS Apache [2006]',
       'Suzuki SlingShot', 'Bajaj V12', 'Yamaha Gladiator', 'TVS XL 100',
       'Benelli TNT 25', 'Royal Enfield Thunderbird 500X',
       'Royal Enfield Continental GT [2013 - 2018]', 'Hero CD Dawn',
       'TVS Max DLX', 'Hero Pleasure [2005-2015]', 'Kawasaki Ninja 300',
       'Yo Style', 'Royal Enfield Thunder 500', 'UM Renegade Mojave',
       'KTM RC200', 'KTM RC390', 'Hyosung GT250R',
       'Royal Enfield Thunder 350', 'KTM 390 Duke ', 'Bajaj Pulsar RS200',
       'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Yamaha FZ 16',
       'Honda CBR 150', 'Hero Extreme', 'Bajaj Avenger 220 dtsi',
       'Bajaj Avenger 150 street', 'Yamaha FZ  v 2.0',
       'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F', 'TVS Apache RTR 180',
       'Hero Passion X pro', 'Bajaj Pulsar NS 200', 'Yamaha Fazer ',
       'TVS Sport ', 'Honda Dream Yuga ', 'Hero Splender iSmart',
       'Activa 3g', 'Hero Passion Pro', 'Yamaha FZ S ', 'Activa 4g',
       'Honda Karizma', 'TVS Jupyter', 'Hero Honda Passion Pro',
       'Hero Splender Plus', 'Honda CB Shine', 'Honda CB twister',
       'Hero Glamour', 'Hero  Ignitor Disc', 'Hero  CBZ Xtreme',
       'Bajaj  ct 100'], dtype=object)

In [17]:
df['seller_type'].unique()

array(['Individual', 'Dealer'], dtype=object)

In [19]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le=LabelEncoder()

In [27]:
df['seller_type']=le.fit_transform(df['seller_type'])
df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,1,1st owner,350,87958.714058
1,Honda Dio,45000,2017,1,1st owner,5650,87958.714058
2,Royal Enfield Classic Gunmetal Grey,150000,2018,1,1st owner,12000,148114.000000
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,1,1st owner,23000,89643.000000
4,Yamaha SZ [2013-2014],20000,2011,1,2nd owner,21000,87958.714058
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,1,1st owner,500000,52000.000000
1057,Honda CB twister,16000,2012,1,1st owner,33000,51000.000000
1058,Bajaj Discover 125,15000,2013,1,2nd owner,35000,57000.000000
1059,Honda CB Shine,12000,2009,1,1st owner,53000,58000.000000
1060,Bajaj Pulsar 150,10000,2008,1,1st owner,92233,75000.000000

In [29]:
df['owner'].unique()

array(['1st owner', '2nd owner', '3rd owner', '4th owner'], dtype=object)

In [31]:
le1=LabelEncoder()

In [33]:
df['owner']=le1.fit_transform(df['owner'])
df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,1,0,350,87958.714058
1,Honda Dio,45000,2017,1,0,5650,87958.714058
2,Royal Enfield Classic Gunmetal Grey,150000,2018,1,0,12000,148114.000000
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,1,0,23000,89643.000000
4,Yamaha SZ [2013-2014],20000,2011,1,1,21000,87958.714058
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,1,0,500000,52000.000000
1057,Honda CB twister,16000,2012,1,0,33000,51000.000000
1058,Bajaj Discover 125,15000,2013,1,1,35000,57000.000000
1059,Honda CB Shine,12000,2009,1,0,53000,58000.000000
1060,Bajaj Pulsar 150,10000,2008,1,0,92233,75000.000000

In [35]:
df_final=df.drop(['name'], axis='columns')
df_final

      selling_price  year  seller_type  owner  km_driven  ex_showroom_price
0            175000  2019            1      0        350       87958.714058
1             45000  2017            1      0       5650       87958.714058
2            150000  2018            1      0      12000      148114.000000
3             65000  2015            1      0      23000       89643.000000
4             20000  2011            1      1      21000       87958.714058
...             ...   ...          ...    ...        ...                ...
1056          17000  2010            1      0     500000       52000.000000
1057          16000  2012            1      0      33000       51000.000000
1058          15000  2013            1      1      35000       57000.000000
1059          12000  2009            1      0      53000       58000.000000
1060          10000  2008            1      0      92233       75000.000000

[1061 rows x 6 columns]

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [39]:
model=LinearRegression()

In [43]:
x=df_final.drop(['selling_price'], axis='columns')
x

      year  seller_type  owner  km_driven  ex_showroom_price
0     2019            1      0        350       87958.714058
1     2017            1      0       5650       87958.714058
2     2018            1      0      12000      148114.000000
3     2015            1      0      23000       89643.000000
4     2011            1      1      21000       87958.714058
...    ...          ...    ...        ...                ...
1056  2010            1      0     500000       52000.000000
1057  2012            1      0      33000       51000.000000
1058  2013            1      1      35000       57000.000000
1059  2009            1      0      53000       58000.000000
1060  2008            1      0      92233       75000.000000

[1061 rows x 5 columns]

In [45]:
y=df_final['selling_price']
y

0       175000
1        45000
2       150000
3        65000
4        20000
         ...
1056     17000
1057     16000
1058     15000
1059     12000
1060     10000
Name: selling_price, Length: 1061, dtype: int64

In [47]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.1)

In [49]:
model.fit(x_train, y_train)

LinearRegression()

In [51]:
model.predict(x_test)

array([ 53978.81168619,  63303.93869272,  69182.37614831,  49437.72839471,
        43983.89688641,  55286.89469182,  43181.86396769,  42128.51291579,
        25524.90569215,  46142.46454948, -21069.14985499,   8510.72469907,
        72626.66221075,  48252.15954087,  25101.14391054,  74162.43555682,
        27111.27634228,  31162.53536941,  68238.73704591,  33717.50264103,
        30674.20846919,  42797.49950194,  47557.74613235,  68582.96941581,
        84083.90076189,  63292.97978253,  60590.9749369 ,  39140.59674384,
        79156.70666899,  44286.14884403,  57150.12115327,  74241.42752524,
        67261.30172388,  45323.40198947,  79673.05522384,  18600.03155994,
        69987.43748502,  28419.38330762,  68825.25546245,  51290.89745237,
        83245.93430899,  66342.55726286,  31203.9983707 ,  84254.24749213,
        66905.92608088, 115078.45680707,  34564.38962112,  17698.55543177,
        36579.61109253,  22431.82995895,  52044.68967494,  83669.0524633 ,
        25205.72284424,  79259.97637996,  57056.22515729,  65773.19692304,
        70458.81657367,  89007.55594538, 108615.90151851,  34136.54239659,
        42885.82412958,  56947.16787351,  55493.43411376,  48523.10874241,
        42025.24320482,  69919.00369202,  35913.16755609,  37627.85067442,
        79827.9597903 ,  64140.79348319,  82828.93417026,  41910.9454917 ,
        66842.53423423,  75742.46213467,  79191.12990598,  83324.8200934 ,
        25144.38930874,  79166.00094298,  79535.36227589,  79068.97570752,
        79259.97637996,  40381.440312  ,  45160.65951951,  72672.86265124,
        83157.09948824,  72599.80520595,  12362.59896314,  37964.11008925,
        37764.29864856,  72352.09460814,  57454.43261199,  43852.57651388,
        51290.89745237,  70097.84359615, 124681.45877712,  34544.523975  ,
        50971.71460446,  40301.17960672,  18253.93841352,  43436.59592142,
        37243.27015177,  68003.03966541,  55273.0865381 ,  54097.73452822,
        44566.27355808,  78851.16601747,  31262.04014915])

In [53]:
model.score(x_test, y_test)

0.4829494059469812

In [55]:
model.predict([[2019,1,0,200,140000]])

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([120176.45528683])